[tool.ruff]
line-length = 100
indent-width = 4

[tool.ruff.lint]
select = [
	"ALL",
]
ignore = [
	"B905",    # zip() without an explicit strict= parameter
	"D100",    # Missing docstring in public module
	"D101",    # Missing docstring in public class
	"D103",    # Missing docstring in public function
	"D104",    # Missing docstring in public package
	"T201",    # print() found
	"PLR0913", # Too many arguments in function definition
	"PLR0915", # Too many statements in function body
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"